//NavBar
#vr {
  border-left: 2px solid #fff;
  height: 2.5rem;
  position: relative;
  transform: translateY(40%);
}

nav {
  background-color: #31afd4;

  #title {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    float: left;

    #lettres {
      color: #fff;
      font-family: "Red Hat Mono";
      font-style: italic;
      font-weight: 500;
      font-size: 48px;
      padding-right: 1rem;
    }

    #name {
      color: #fff;
      font-family: "Red Hat Mono";
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      padding-left: 1rem;
      position: relative;
      transform: translateY(15%);
    }
  }

  #navbar {
    display: flex;

    a {
      color: #fff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: "Red Hat Mono";
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;

      &:hover {
        color: #e0d6d6;
        -webkit-transition: color 200ms linear;
        -ms-transition: color 200ms linear;
        transition: color 200ms linear;
      }
    }
  }
}
