@import "../navbar/navbar.scss";

//Reset
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

main {
  #paypalTemporaire {
    background-color: #c4c4c4;
    height: 11.5rem;
    width: 25rem;
    margin: auto;

    h1 {
      font-family: "Red Hat Mono";
      font-style: italic;
      font-weight: 700;
      font-size: 64px;
      line-height: 85px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: #31afd4;
      text-align: center;
      height: 100%;
      -webkit-text-stroke: 2px black;
    }
  }
}
