@import "../navbar/navbar.scss";

//Reset
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

//Activités
#cards {
  .card {
    position: relative;
    text-align: center;

    img {
      height: 100%;
      width: 100%;
      filter: blur(1.5px);
      border-radius: 15px;
    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -1.5rem;
    }
  }
}

//Pc Reponsive
@media all and (min-width: 1024px) {
  main {
    #cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;

      a {
        text-decoration: none;
        margin: 0 auto;

        &:visited {
          color: #000;
        }

        .card {
          width: 20rem;
          height: 10rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          border-radius: 15px;
          border: 3px solid #000;
          margin: 0 auto;

          &:hover {
            transform: scale(1.1, 1.1);
            transition: transform 300ms;
          }

          h1 {
            font-family: "Red Hat Mono";
            font-style: italic;
            font-weight: 700;
            font-size: 55px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000;
            margin-top: -0.8rem;

            &:first-child {
              font-size: 40px;
            }
          }

          i {
            font-size: 3rem;
          }
        }
      }
    }

    #facebook {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5rem auto;

      div {
        margin: auto;
      }
    }
  }
}

//iPad Responsive
@media all and (min-width: 480px) and (max-width: 1000px) {
  main {
    #cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      a {
        text-decoration: none;
        margin: 0 auto;

        &:visited {
          color: #000;
        }

        .card {
          width: 20rem;
          height: 10rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          border-radius: 15px;
          border: 3px solid #000;
          margin: 0 auto;
          margin-top: 5rem;

          h1 {
            font-family: "Red Hat Mono";
            font-style: italic;
            font-weight: 700;
            font-size: 55px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000;
            margin-top: -0.8rem;

            &:first-child {
              font-size: 40px;
            }
          }

          i {
            font-size: 3rem;
            color: #000;
          }
        }
      }
    }

    #facebook {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5rem auto;

      .fb-post {
        margin-bottom: 5rem;
      }

      .fb-page {
        display: none;
      }
    }
  }
}

//Mobile Responsive
@media all and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;

    #cards {
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      a {
        text-decoration: none;
        margin: 0 auto;

        &:visited {
          color: #000;
        }

        .card {
          width: 20rem;
          height: 10rem;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          border-radius: 15px;
          border: 3px solid #000;
          margin: 0 auto;
          margin-top: 2rem;

          h1 {
            font-family: "Red Hat Mono";
            font-style: italic;
            font-weight: 700;
            font-size: 55px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000;
            margin-top: -0.8rem;

            &:first-child {
              font-size: 40px;
            }
          }

          i {
            font-size: 3rem;
            color: #000;
          }
        }
      }
    }

    #facebook {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem auto;

        .fb-post {
          display: none;
        }
      }
    }
  }
}
