#vr {
  border-left: 2px solid #fff;
  height: 2.5rem;
  position: relative;
  transform: translateY(40%);
}

nav {
  background-color: #31afd4;
}
nav #title {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  float: left;
}
nav #title #lettres {
  color: #fff;
  font-family: "Red Hat Mono";
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  padding-right: 1rem;
}
nav #title #name {
  color: #fff;
  font-family: "Red Hat Mono";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  padding-left: 1rem;
  position: relative;
  transform: translateY(15%);
}
nav #navbar {
  display: flex;
}
nav #navbar a {
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Red Hat Mono";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}
nav #navbar a:hover {
  color: #e0d6d6;
  -webkit-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media all and (min-width: 1024px) {
  main {
    margin-bottom: 5rem;
  }
  main #coo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  main #coo #text h1 {
    border-bottom: 3px solid #000;
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
  main #coo #text p {
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
  }
  main #coo iframe {
    margin-left: 5rem;
    margin-top: -1.5rem;
  }
  main #facebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  main #facebook h1 {
    text-align: center;
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
  }
}
@media all and (min-width: 480px) and (max-width: 1000px) {
  main {
    margin-bottom: 5rem;
  }
  main #coo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 1rem;
  }
  main #coo #text h1 {
    border-bottom: 3px solid #000;
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
  main #coo #text p {
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
  }
  main #coo iframe {
    margin-left: 4rem;
    margin-top: -1.5rem;
    margin-right: 1rem;
  }
  main #facebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  main #facebook h1 {
    text-align: center;
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
  }
}
@media all and (max-width: 480px) {
  main {
    margin-top: -5rem;
    margin-bottom: 5rem;
  }
  main #coo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
  }
  main #coo #text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main #coo #text h1 {
    border-bottom: 3px solid #000;
    width: 90%;
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  }
  main #coo #text p {
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
  }
  main #coo iframe {
    margin-left: 5rem;
    margin-top: -1.5rem;
    width: 90%;
    margin: 0 auto;
  }
  main #facebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  main #facebook h1 {
    text-align: center;
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
  }
}

/*# sourceMappingURL=contact.css.map */
